<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title PUGJS Test
    //- link(rel="stylesheet", href="/css/main.css")
  body
    include partials/header
    .icon
    .icon-2
    img(src="../img/whatsapp-logo.png", alt="", srcset="")
    script(src="/js/main.js")