@font-face {
  font-family: Roboto;
  src: url('../font/Roboto/Roboto-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: Roboto;
}

.hello {
  color: blue;
}

.icon {
  width: 30px;
  height: 30px;
  background: url('../img/whatsapp-logo.png');
}

.icon-2 {
  width: 30px;
  height: 30px;
  background: url('../img/temp/whatsapp.png');
}
